.nav {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1em;
    background: #171717;
}

.nav_img {
    width: 2.5rem;
    filter: invert(1);
}

.nav_img:hover {
    cursor: pointer;
    filter: invert(40%) grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
}

.nav_span {
    font-size: 1.5rem;
    color: #EDEDED;
    padding: 1rem;
    text-decoration: none;
}

